torch
tensorboard
matplotlib
git+https://github.com/tinyobjloader/tinyobjloader.git#subdirectory=python
pybind11
trimesh>=3.0
tqdm
Pillow
scipy
scikit-image
six
moviepy
opencv-python
plyfile
polyscope
